/* 
 * Fond = `#2e5849`
 * Fond Input = `#1c382f`
 * Bordure Input = `#183129`
 * Ombre interne Input = `25px` `rgba(0,0,0,.1)`
 * Ombre interne Input Focus = `25px` `rgba(0,0,0,.5)`
 * Texte Input = `#fff`
 * Placeholder Input = `rgba(255, 255, 255, .5)`
 * Fond Tâche = `#eee`
 * Bordure tâche = `#ccc`
 */

body {
  background-color: #2e5849;
}

#todo {
  width: 70%;
  margin: 2em auto;
}
/* Copyright Florent */
#todo-input {
  background-color: #1c382f;
    border: 1px solid #183129;
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.1) ;
    width: 100%;
    height: 70px;
    padding: .8em 1em;
    font-size: 2em;
    color: #fff;
    transition: .4s;
}

#todo-input:focus {
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.5);
  transition: .4s;
}

#todo-input::placeholder {
  color: rgba(255, 255, 255, .5);
}

/* ::pseudo-element => after, before, placeholder */
/* :pseudo-class => active, hover, focus, ... */

#todo-counter {
  color: #fff;
  font-size: 1.6em;
  font-weight: 700;
  border-bottom: 1px solid #fff;
  margin: 1.5em 0 1em;
  padding-bottom: .5em;
}

.task {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: .5em;
  padding: 1em .7em;
  margin: .3em 0;
  font-size: 1.1em;
}

.task-label {
  margin-left: .3em;
}

.task-label--done {
  opacity: .5;
  text-decoration: line-through;
}
